* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bellota Text", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

input,
select,
button {
  /* background-color: #D9D9D9; */
  border: 2px solid #b97474;
  border-radius: 7px;
  font-family: "Bellota Text", sans-serif;

  padding: 12px 7px;
}

label {
  margin-bottom: 5px;
}


option {
  font-family: "Bellota Text", sans-serif;
}

::placeholder {
  font-family: "Bellota Text", sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 15px #b97474;
}

select:focus option:checked {
  background-color: #8C4646;
  color: #fff;
}

ul {
  list-style: none;
}

header {
  background-color: #0f0f0f;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px
}

header img {
  width: 130px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 38px;
  font-size: 18px;
  transition: 200ms;
}

header ul li:hover {
  color: #8C4646;
}

header .button {
  background-color: #ffffff;
  color: #8C4646;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: 200ms;
}

header .button:hover {
  background-color: #8C4646;
  color: #ffffff;
}

.hero {
  background-color: #0f0f0f;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 60px;
}

.hero .hero-img {
  width: 550px;
}

#services {
  margin: 80px 0;
}

#services h2 {
  font-size: 40px;
  color: #8C4646;
  text-align: center;
}

#services .services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 10px;
  width: 219px;

  background-color: #F2EBEB;
  border-radius: 10px;
}

#services .services-title h3 {
  font-size: 24px;
  font-weight: 700;
  color: #8C4646;
  text-transform: uppercase;
}

#services .services-carrousel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

#services .services-card {
  display: flex;
  flex-direction: column;
}

#services .services-card span {
  background-color: #F2EBEB;
  text-align: center;
  border-radius: 0 0 10px 10px;
  color: #8C4646;

  padding: 5px;

  -webkit-box-shadow: 0px 6px 12px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 6px 12px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 12px -1px rgba(0, 0, 0, 0.3);
}

#services .services-carrousel img {
  border-radius: 26px 26px 0 0;

  -webkit-box-shadow: 0px 6px 12px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 6px 12px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 12px -1px rgba(0, 0, 0, 0.3);
}

#about {
  background-color: #8C4646;
  color: #ffffff;

  display: flex;
  align-items: flex-start;
  padding: 100px 60px;
}

#about .about-text h2 {
  font-size: 40px;
  text-align: center;

  margin-bottom: 20px;
}

#about .about-text p {
  font-size: 22px;
}

.form {
  background-color: #0f0f0f;
}

#form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px;
}

#form-content .form-content-text {
  background-color: #8C4646;
  border: 1px solid #ebebeb;
  border-radius: 10px;

  padding: 16px;
  width: 50%;
}

.form h2 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  padding-top: 100px;
}

#form-content p {
  background-color: #b97474;
  border-radius: 5px;
  color: #ffffff;

  margin-bottom: 20px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0;

  color: #ffffff;
}

form div {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

form div div {
  flex-direction: column;
  gap: 0;
}

form button {
  background-color: #b97474;
  cursor: pointer;
  color: #fff;
  border: 1px solid #ebebeb;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: 200ms;

  margin: 16px 0;
}

form button:hover {
  background-color: #c38888;
}


#contact {
  display: flex;
  justify-content: center;
  margin: 100px 10px;
  gap: 20px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
  font-size: 17px;
}

.contact-infos {
  background-color: #F2EBEB;
  border-radius: 10px;
  margin-top: 20px;
}

.social-media {
  color: #8C4646;
  font-weight: bold;
}

footer {
  background-color: #F2EBEB;
  text-align: center;

  padding: 10px;
}

footer span {
  color: #8C4646
}